version: "3.9"
services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: appdb
    ports:
      - "5432:5432"
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"

  gateway:
    build: ./gateway
    ports:
      - "8083:8080"
    depends_on:
      - user-service
      - orders-service

  user-service:
    build: ./userService
    ports:
      - "8081:8080"

  orders-service:
    build: ./ordersService
    ports:
      - "8082:8080"