name: Trigger Jenkins

on:
  push:
    branches:
      - master

jobs:
  trigger:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Jenkins build
        run: |
          curl -X POST "https://stoppable-chadwick-subovoid.ngrok-free.dev/job/microservices/build?token=111222" \
          --user "admin:<11bf022d5e8f9e6d5550fe44309c3422ef>"
